<launch>

    <!-- Setup environment -->
  <!--  <arg name="machine_bot" default = "kc-RPi3-mate"/>
    <arg name="machine_c2i" default = "kc"/>
    <arg name="master_uri" default = "http://192.168.1.12:11311"/>
    <arg name="ip_bot" default = "192.168.1.11"/>
    <arg name="ip_c2i" default = "192.168.1.7"/>
    <arg name="machine_bot_user" default = "keshavchintamani"/>
    <arg name="machine_c2i_user" default = "kc"/>

    <env name="ROS_MASTER_URI" value="$(arg master_uri)"/>
    <machine name="$(arg machine_c2i)" address="$(arg ip_c2i)" user="$(arg machine_c2i_user)" env-loader="/home/kc/sandbox/external-rospacks/src/trinibot_core/laptop_envloader.sh" timeout="10.0" default="true" />
    <machine name="$(arg machine_bot)" address="$(arg ip_bot)" user="$(arg machine_bot_user)" env-loader="/home/keshavchintamani/trinibot_ws/src/trinibot_core/pi_envloader.sh" timeout="10.0" default="never" />
    -->

    <!-- Launch the GPS and IMU drivers-->
    <node pkg="cubigolf_loc" type="cg_data_publisher.py" name="motion_sensors" respawn="false" output="screen">
    </node>
    <node pkg="cubigolf_loc" type="cg_platform_transforms.py" name="system_transforms" respawn="false" output="screen">
    </node>
    <!-- Launch the EKF -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true"/>
    <rosparam command="load" file="$(find cubigolf_loc)/params/cg_ekf.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->
    <!-- TODO Optical sensors - camera/lidar drivers -->
    <!-- TODO Motion control -->
</launch>

<!--

#Use this - calls a bash script on the RPi to invoke a rosservice call (to start the raspicam node)
    <node pkg="trinibot_core" type="raspicam_startcamera.bash" name="startcamera" machine="$(machine_bot)" respawn="false" output="screen" />
-->
